# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# IDE files
.idea/
.vscode/
*.iml

# Flask instance folder
instance/

# Mongo dumps / exports
dump/
*.bson
*.json
